@model Products

<div class="card mb-4 shadow-lg border-0 rounded-4 overflow-hidden" style="max-width:1000px;">
    <div class="row g-0">
        @* movie pic             *@
        <div class="col-md-4 bg-dark">
            <img src="/images/movies/@Model.MainImg"
                 class="img-fluid h-100 object-fit-cover rounded-start"
                 alt="Movie image" style="min-height: 100%;" />
        </div>

        @* Details *@
        <div class="col-md-8 bg-light">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 text-primary fw-bold">@Model.Name</h3>
                <p class="card-text text-muted">@Model.Description</p>

                </div>
            </div>
        </div>
    </div>
</div>

